{% extends 'base.html.twig' %}

{% block styles %}
    {% block payum_stylesheets "" %}
{% endblock %}

{% block body %}
    {% block payum_body "" %}
    {% block payum_vendor_javascripts "" %}
    {% block payum_javascripts "" %}
{% endblock %}
