{% extends 'base.html.twig' %}

{% block title %}My payment test{% endblock %}

{% block body %}
    {% if status.value == 'captured' %}
        Success!
    {% elseif status.value == 'canceled' %}
        Canceled!
    {% else %}
        Unknown!?
    {% endif %}
{% endblock %}
